html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display: block; }
body{ line-height: 1; }
ol, ul{ list-style: none; }
blockquote, q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }
table{ border-collapse: collapse; border-spacing: 0; }

html{ overflow-x: hidden; overflow-y: scroll;}
body{ background: #292929; color: #708491; font: 16px/1.5 Arial, sans-serif;}
a{ cursor: pointer;}
input:focus, input:active{ outline: none;}
::-webkit-input-placeholder{ padding-top: 5px;}
textarea::-webkit-input-placeholder{ padding-top: 0;}

#header{ font-family: 'Museo 700', Georgia, serif; font-weight: normal;}
#description,
#hello hgroup,
.heading,
.project,
.story h5{ font-family: 'Museo 300', Georgia, serif; font-weight: normal;}
#testimonials,
.skills,
#calendar,
.story,
.element{ font-family: 'TisaPro', Georgia, serif; font-weight: normal;}

#name,
#description,
#nav a,
.button,
.dots a,
.arrow,
.level strong,
.app{ overflow: hidden; text-indent: -290486px;}

.wrap{ margin: 0 auto; position: relative; width: 960px;}
.button{ background: url(buttons.png) no-repeat 0 0; display: inline-block; height: 62px; position: relative; width: 234px;}
.button-email{ background-position: 0 -70px;}
.button:active{ top: 2px;}
.dots{ height: 16px; text-align: center;}
.dots a{ border-radius: 8px; display: inline-block; height: 16px; margin: 0 4px; vertical-align: top; width: 16px;}
.arrow{ background: url(arrows.png) no-repeat 0 0; display: block; height: 80px; width: 40px;}
.arrow-next{ background-position: -40px 0;}
.heading{ line-height: 1.25; margin-bottom: 80px; text-align: center;}
.title{ color: white; font-size: 48px;}
.subtitle{ color: #f5574c; font-size: 32px;}
.level,
.level strong{ background: #1f1f1f; border-radius: 10px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.48) inset, 0 1px 1px rgba(255, 255, 255, 0.12); height: 20px; position: relative; width: 300px;}
.level strong{ background: #f5574c; box-shadow: 0 1px 1px #f5b3ae inset, 0 2px 4px rgba(0, 0, 0, 0.48); left: 0; position: absolute; top: 0; width: 100%;}
.level-90 strong{ width: 90%;}
.level-80 strong{ width: 80%;}
.level-60 strong{ width: 60%;}
.app{ background: url(apps.png) no-repeat 0 0; display: inline-block; height: 32px; position: relative; width: 33px;}
.app-sublime-text{ background-position: 0 -40px;}
.app-wordpress{ background-position: 0 -80px;}
.element{ background: rgba(41, 41, 41, 0.48); border: 4px solid white; color: white; font-size: 24px;}
input.element{ line-height: 1; padding: 10px; padding-top: 5px; width: 352px;}
textarea.element{ height: 300px; line-height: 1.5; max-width: 742px; padding: 10px 15px; width: 742px;}
.element:focus{ background: rgba(41, 41, 41, 0.86); border-color: #f5574c; outline: none;}
.aperture{ position: relative; height: 215px;}
.reel{ left: 0; position: absolute; top: 0; width: 500%;}
.item{ float: left; width: 20%;}

#header{ background: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16); height: 32px; left: 0; line-height: 32px; padding: 14px 0; position: fixed; top: -66px; width: 100%; z-index: 1000;}
#logo{ background: url(bbx.png) no-repeat 0 0; float: left; height: 32px; margin-left: 14px; padding-left: 40px;}
#name,
#description{ background: url(name.png) no-repeat 0 0; float: left; height: 32px;}
#name{ color: #f5574c; width: 79px;}
#description{ background-image: url(description.png); color: #b0b0b0; margin-left: 8px; width: 242px;}
#nav{ float: right; font-size: 12px; margin-right: 14px; text-transform: uppercase;}
#nav li{ display: inline;}
.nav{ background: url(nav.png) no-repeat 0 0; border-radius: 4px; float: left; padding: 0 15px;}
.nav:hover{ background-color: #f5574c;}
#nav-home{ width: 40px;}
#nav-skills{ background-position: 0 -40px; width: 44px;}
#nav-portfolio{ background-position: 0 -80px; width: 77px;}
#nav-timeline{ background-position: 0 -120px; width: 65px;}
#nav-contact{ background-position: 0 -160px; width: 66px;}
#nav-blog{ background-position: 0 -200px; width: 36px;}
#nav-home:hover{ background-position: -200px 0 !important;}
#nav-skills:hover{ background-position: -200px -40px !important;}
#nav-portfolio:hover{ background-position: -200px -80px !important;}
#nav-timeline:hover{ background-position: -200px -120px !important;}
#nav-contact:hover{ background-position: -200px -160px !important;}
#nav-blog:hover{ background-position: -200px -200px !important;}
#nav-home.on{ background-position: -100px 0;}
#nav-skills.on{ background-position: -100px -40px;}
#nav-portfolio.on{ background-position: -100px -80px;}
#nav-timeline.on{ background-position: -100px -120px;}
#nav-contact.on{ background-position: -100px -160px;}
#nav-blog.on{ background-position: -100px -200px;}

#hello{ background: #292929 url(desktop.jpg) no-repeat fixed center top; height: 700px; position: relative; text-align: center;}
#hello-background{ background: #292929; height: 100%; left: 0; position: fixed; top: 0; width: 100%;}
#hello hgroup{ color: white; height: 300px; left: 50%; line-height: 1.25; margin: -120px 0 0 -470px; position: absolute; text-shadow: 0 4px 16px black; top: 50%; width: 940px;}
#hey{ font-size: 48px; font-weight: normal;}
#there{ color: #dbdbdb; font-size: 32px; font-weight: normal; margin-top: 10px;}
#hello p{ padding-top: 20px;}
#hello .button{ margin: 0 5px;}

#testimonials{ background: #f5574c; color: white; padding: 80px 0 60px; position: relative; text-align: center;}
#testimonials .reel{ left: 100%; opacity: 0;}
.testimonial blockquote,
.testimonial p{ margin: 0 auto; width: 620px;}
.testimonial blockquote{ font-size: 32px; font-style: italic; position: relative; z-index: 50;}
.testimonial p{ border-top: 1px dotted #d4362b; color: #d4362b; font-size: 20px; margin-top: 20px; padding-top: 20px;}
#testimonials .dots{ padding-top: 60px;}
#testimonials .dots a{ background: #d4362b;}
#testimonials .dots a:hover{ background: #ba1c11;}
#testimonials .dots .current,
#testimonials .dots .current:hover{ background: white;}
#testimonials .arrow{ margin-top: -40px; position: absolute; top: 50%;}
#testimonials .arrow-previous{ left: 40px;}
#testimonials .arrow-next{ right: 40px;}

#skills{ padding: 80px 0;}
.skills{ min-height: 615px;}
.skill{ border-top: 1px dotted #4a4a4a; padding: 20px 0 30px;}
.skill .level{ float: right; margin-top: 10px;}
.skill-icon{ background: url(skills.png) no-repeat 0 0; float: left; height: 64px; margin: 10px 30px 0 0; width: 64px;}
.skill-title{ color: white; font-size: 32px; font-weight: bold;}
.skill-list{ font-style: italic;}
.skill-list li{ display: inline; margin-right: 20px;}
#wordpress .skill-icon{ background-position: 0 -70px;}
#jquery .skill-icon{ background-position: 0 -140px;}
#photoshop .skill-icon{ background-position: 0 -210px;}
#illustrator .skill-icon{ background-position: 0 -280px;}

#portfolio{ background: white url(mountains.jpg) no-repeat fixed center top;}
#portfolio .wrap{ width: 1200px;}
#portfolio .heading{ margin-bottom: 0; padding: 60px 0;}
#portfolio .title{ color: #f5574c;}

#projects{ height: 600px; overflow: hidden; position: relative;}
.project{ color: white; display: block; float: left; height: 300px; left: 0; line-height: 1.25; position: absolute; text-align: center; top: 0; width: 300px;}
.project-image,
.project-content,
.project-name,
.project-description,
.project-apps{ left: 0; position: absolute; width: 100%;}
.project-image,
.project-content{ height: 100%;}
.project-content{ background: rgba(245, 87, 76, 0.92); opacity: 0;}
.project-name{ bottom: 60%; font-size: 48px;}
.project-description{ font-size: 24px; opacity: 0.69; top: 60%;}
.project-apps{ bottom: 40px; height: 32px;}
.project-apps .app{ margin: 0 10px; opacity: 0; top: 12px;}
#cv .project-name{ font-size: 32px;}
#wp .project-name{ font-size: 32px;}
#css .project-name{ font-size: 32px;}
#at .project-name{ font-size: 32px;}
#em .project-name{ font-size: 32px;}
#jg .project-name{ font-size: 32px;}
.project:hover .project-content{ opacity: 1;}
.project:hover .project-name{ bottom: 50%;}
.project:hover .project-description{ top: 50%;}
.project:hover .project-apps .app{ opacity: 1; top: 0;}

#timeline{ padding-top: 80px;}
#calendar{ border-radius: 5px; height: 180px; margin-bottom: 80px; overflow: hidden; position: relative;}
#time{ background: #1f1f1f; border-bottom: 10px solid #141414; height: 100px; left: 0; opacity: 0.48; position: absolute; top: 0; width: 100%;}
#chapters{ background: url(time.png) repeat-x -170px 110px; left: 2000px; padding: 0 480px 40px; position: absolute; top: 0; width: 2860px;}
.chapter{ background: #6d89ac; float: left; height: 80px; line-height: 1.25; min-width: 100px; padding: 10px 0; position: relative; text-indent: 15px;}
.chapter strong{ color: white; display: block; font-size: 24px; font-weight: bold;}
.chapter em{ color: #c1dbfc; display: block; font-size: 20px; font-style: italic;}
.chapter time{ color: #325989; display: block; font-size: 24px; position: absolute; right: 10px; top: 10px;}
.chapter span{ background: #325989; bottom: -10px; height: 10px; left: -5px; position: absolute; width: 100%;}
#years{ bottom: -40px; color: white; font-size: 24px; font-weight: bold; left: 0; padding-left: 39px; position: absolute; width: 3360px;}
#years li{ float: left; width: 240px;}
#magendie{ margin-right: 40px; width: 680px;}
#cachan{ background: #528f6c; margin-right: 40px; width: 440px;}
#cachan em{ color: #8fe6b4;}
#cachan time{ color: #297348;}
#cachan span{ background: #297348;}
#bordeaux4{ background: #cdcd00; margin-right: 120px; width: 120px;}
#bordeaux4 em{ color: #f0f03a;}
#bordeaux4 time{ color: #8a8a00; display: none;}
#bordeaux4 span{ background: #8a8a00;}
#amtv{ background: #4e4e4e; width: 200px;}
#amtv em{ color: #f29500;}
#amtv time{ color: #1f1f1f; display: none;}
#amtv span{ background: #1f1f1f;}
#mgd{ background: #09c; width: 200px;}
#mgd em{ color: #a8eaff;}
#mgd time{ color: #056382; display: none;}
#mgd span{ background: #056382;}
#virtuoz{ background: #b60000; width: 200px;}
#virtuoz em{ color: #e37d7d;}
#virtuoz time{ color: #850606; display: none;}
#virtuoz span{ background: #850606;}
#steaw{ background: #094062; width: 560px;}
#steaw em{ color: #72b0d5;}
#steaw time{ color: #021c2c;}
#steaw span{ background: #021c2c;}
#stories{ height: 300px; overflow: hidden; padding-bottom: 120px; position: relative;}
#stories-reel{ left: -2000px; opacity: 0; position: absolute; top: 0; width: 7740px;}
.story{ color: #586e75; cursor: pointer; float: left; font-size: 20px; margin: 0 40px; opacity: 0.29; padding-left: 80px; position: relative; text-shadow: none; width: 700px;}
.story:hover{ opacity: 0.48;}
.current.story,
.current.story:hover{ cursor: default; opacity: 1;}
.story time, #restart{ background: #528f6c; border-radius: 30px; color: white; display: block; float: left; font-size: 40px; font-weight: bold; height: 60px; left: 0; line-height: 50px; position: absolute; text-align: center; top: 0; width: 60px;}
.story h5{ color: white; font-size: 32px; line-height: 60px;}
.story p{ margin-top: 10px;}
#restart{ background: #f5574c; float: left; margin-left: 40px; opacity: 0.29; position: static;}
#restart:hover{ opacity: 1;}

#contact{ background: white url(forest.jpg) no-repeat fixed center top; min-height: 620px; padding: 80px 0;}
#contact .title{ color: #f5574c;}
#contact form{ margin: 0 auto; width: 780px;}
#contact form p{}
#contact-name,
#contact-email{ padding: 0; width: 380px;}
#contact-name{ float: left;}
#contact-email{ float: right;}
#contact-subject{ clear: both; padding-top: 40px;}
#contact-subject .element{ width: 752px;}
#contact-message,
#contact-submit{ padding-top: 20px;;}
#send{ position: relative; right: 3px;}

/* CSS 3 */

a{
  transition: background-color 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -ms-transition: background-color 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -o-transition: background-color 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -webkit-transition: background-color 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
}

.project-content, .story, #restart{
  transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
}

.project-name, .project-description{
  transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}

.app{
  transition: all 250ms ease-out 125ms;
  -moz-transition: all 250ms ease-out 125ms;
  -ms-transition: all 250ms ease-out 125ms;
  -o-transition: all 250ms ease-out 125ms;
  -webkit-transition: all 250ms ease-out 125ms;
}

.app:nth-child(2){
  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -ms-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.app:nth-child(3){
  transition-delay: 375ms;
  -moz-transition-delay: 375ms;
  -ms-transition-delay: 375ms;
  -o-transition-delay: 375ms;
  -webkit-transition-delay: 375ms;
}

#header{
  background: white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255,1) 1%, rgba(255, 255, 255, 0.86) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255, 255, 255,1)), color-stop(100%,rgba(255, 255, 255, 0.86)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255,1) 1%,rgba(255, 255, 255, 0.86) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255,1) 1%,rgba(255, 255, 255, 0.86) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255,1) 1%,rgba(255, 255, 255, 0.86) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255,1) 1%,rgba(255, 255, 255, 0.86) 100%);
}

#hello, #portfolio, #contact{
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.level strong{
  background: #f5574c;
  background: -moz-linear-gradient(top, #f5574c 1%, #db2b1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f5574c), color-stop(100%,#db2b1f));
  background: -webkit-linear-gradient(top, #f5574c 1%,#db2b1f 100%);
  background: -o-linear-gradient(top, #f5574c 1%,#db2b1f 100%);
  background: -ms-linear-gradient(top, #f5574c 1%,#db2b1f 100%);
  background: linear-gradient(to bottom, #f5574c 1%,#db2b1f 100%);
}

.level-90 strong{ box-shadow: 0 1px 1px #f8edd1 inset, 0 2px 4px rgba(0, 0, 0, 0.48);}
.level-90 strong{
  background: #ecb624;
  background: -moz-linear-gradient(top, #ecb624 1%, #cb8602 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ecb624), color-stop(100%,#cb8602));
  background: -webkit-linear-gradient(top, #ecb624 1%,#cb8602 100%);
  background: -o-linear-gradient(top, #ecb624 1%,#cb8602 100%);
  background: -ms-linear-gradient(top, #ecb624 1%,#cb8602 100%);
  background: linear-gradient(to bottom, #ecb624 1%,#cb8602 100%);
}

.level-80 strong{ box-shadow: 0 1px 1px #d3ebab inset, 0 2px 4px rgba(0, 0, 0, 0.48);}
.level-80 strong{
  background: #78c905;
  background: -moz-linear-gradient(top, #78c905 1%, #559501 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#78c905), color-stop(100%,#559501));
  background: -webkit-linear-gradient(top, #78c905 1%,#559501 100%);
  background: -o-linear-gradient(top, #78c905 1%,#559501 100%);
  background: -ms-linear-gradient(top, #78c905 1%,#559501 100%);
  background: linear-gradient(to bottom, #78c905 1%,#559501 100%);
}

.level-60 strong{ box-shadow: 0 1px 1px #a5cfec inset, 0 2px 4px rgba(0, 0, 0, 0.48);}
.level-60 strong{
  background: #379ce0;
  background: -moz-linear-gradient(top, #379ce0 1%, #0777c3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#379ce0), color-stop(100%,#0777c3));
  background: -webkit-linear-gradient(top, #379ce0 1%,#0777c3 100%);
  background: -o-linear-gradient(top, #379ce0 1%,#0777c3 100%);
  background: -ms-linear-gradient(top, #379ce0 1%,#0777c3 100%);
  background: linear-gradient(to bottom, #379ce0 1%,#0777c3 100%);
}

.chapter span{
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}

/* Animations */

@-webkit-keyframes fade-in{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

@-webkit-keyframes fade-out{
  0%{ opacity: 1;}
  100%{ opacity: 0;}
}

@-webkit-keyframes down{
  0%{ opacity: 0; -webkit-transform: translateY(-24px);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes up{
  0%{ opacity: 0; -webkit-transform: translateY(24px);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes up-fast{
  0%{ opacity: 0; -webkit-transform: translateY(24px);}
  50%{ opacity: 0.50; -webkit-transform: translateY(-12px);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes left{
  0%{ opacity: 0; -webkit-transform: translateX(24px);}
  100%{ opacity: 1; -webkit-transform: translateX(0);}
}

@-webkit-keyframes right{
  0%{ opacity: 0; -webkit-transform: translateX(-24px);}
  100%{ opacity: 1; -webkit-transform: translateX(0);}
}

@-webkit-keyframes grow{
  0%{ opacity: 0; -webkit-transform: scale(0.96, 0.96);}
  100%{ opacity: 1; -webkit-transform: scale(1, 1);}
}

@-webkit-keyframes slide-down{
  0%{ opacity: 0; max-height: 0;}
  100%{ opacity: 1; max-height: 60px;}
}

@-webkit-keyframes fill-100{
  0%{ width: 0%;}
  100%{ width: 100%;}
}

@-webkit-keyframes fill-90{
  0%{ width: 0%;}
  100%{ width: 90%;}
}

@-webkit-keyframes fill-80{
  0%{ width: 0%;}
  100%{ width: 80%;}
}

@-webkit-keyframes fill-60{
  0%{ width: 0%;}
  100%{ width: 60%;}
}

#hello-background,
#hey,
#there,
#view-portfolio,
#send-email,
.arrow,
.dots a,
.title,
.subtitle,
.skill,
.level strong,
.project,
.element,
#send{ opacity: 0; position: relative; z-index: 100;}

.level strong{ opacity: 1;}

.level strong,
.project{ position: absolute;}

#hello-background,
#hey,
#there,
#view-portfolio,
#send-email,
.go .arrow,
.go .dots a,
.go .title,
.go .subtitle,
.go .skill,
.go .level strong,
.go .project,
.go .element,
.go #send{ -webkit-animation-duration: 1000ms; -webkit-animation-fill-mode: both; -webkit-animation-timing-function: ease;}

#hey,
#there,
#view-portfolio,
#send-email{ -webkit-animation-timing-function: ease-out;}
#hello-background{ -webkit-animation-duration: 2000ms; -webkit-animation-name: fade-out;}
#hey{ -webkit-animation-delay: 500ms; -webkit-animation-name: down;}
#there{ -webkit-animation-delay: 1000ms; -webkit-animation-name: up;}
#view-portfolio{ -webkit-animation-delay: 1500ms; -webkit-animation-name: left;}
#send-email{ -webkit-animation-delay: 2000ms; -webkit-animation-name: right;}

.go .arrow-previous{ -webkit-animation-name: right;}
.go .arrow-next{ -webkit-animation-name: left;}
.go .dots a{ -webkit-animation-name: up-fast;}
.go .dots a:nth-child(1){ -webkit-animation-delay: 250ms;}
.go .dots a:nth-child(2){ -webkit-animation-delay: 375ms;}
.go .dots a:nth-child(3){ -webkit-animation-delay: 500ms;}
.go .dots a:nth-child(4){ -webkit-animation-delay: 625ms;}
.go .dots a:nth-child(5){ -webkit-animation-delay: 750ms;}

.go .title{ -webkit-animation-name: left;}
.go .subtitle{ -webkit-animation-delay: 250ms; -webkit-animation-name: right;}

.go .skill{ -webkit-animation-delay: 500ms; -webkit-animation-name: up;}
.go #html5{ -webkit-animation-delay: 500ms;}
.go #html5 .level strong{ -webkit-animation-delay: 750ms; -webkit-animation-name: fill-100;}
.go #wordpress{ -webkit-animation-delay: 750ms;}
.go #wordpress .level strong{ -webkit-animation-delay: 750ms; -webkit-animation-name: fill-90;}
.go #jquery{ -webkit-animation-delay: 1000ms;}
.go #jquery .level strong{ -webkit-animation-delay: 1000ms; -webkit-animation-name: fill-80;}
.go #photoshop{ -webkit-animation-delay: 1250ms;}
.go #photoshop .level strong{ -webkit-animation-delay: 1250ms; -webkit-animation-name: fill-80;}
.go #illustrator{ -webkit-animation-delay: 1500ms;}
.go #illustrator .level strong{ -webkit-animation-delay: 1500ms; -webkit-animation-name: fill-60;}

.go#portfolio .title{ -webkit-animation-name: up;}
.go .project{ -webkit-animation-name: grow;}
.go .project:nth-child(2){ -webkit-animation-delay: 250ms;}
.go .project:nth-child(3){ -webkit-animation-delay: 500ms;}
.go .project:nth-child(4){ -webkit-animation-delay: 750ms;}
.go .project:nth-child(5){ -webkit-animation-delay: 1000ms;}
.go .project:nth-child(6){ -webkit-animation-delay: 1250ms;}
.go .project:nth-child(7){ -webkit-animation-delay: 1500ms;}
.go .project:nth-child(8){ -webkit-animation-delay: 1750ms;}
.go .project:nth-child(9){ -webkit-animation-delay: 2000ms;}

.go .element,
.go #send{ -webkit-animation-name: grow;}
.go #contact-name .element{ -webkit-animation-delay: 250ms;}
.go #contact-email .element{ -webkit-animation-delay: 500ms;}
.go #contact-subject .element{ -webkit-animation-delay: 750ms;}
.go #contact-message .element{ -webkit-animation-delay: 1000ms;}
.go #send{ -webkit-animation-delay: 1250ms;}

/*body, body *{
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  position: relative;
}*/